<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <connectionStrings>
    <add name="default" connectionString="Data Source=localhost\SQLEXPRESS01;
         Initial Catalog=DevPaceDB;
         Integrated Security=True; 
         Connect Timeout=15; 
         Encrypt = False; 
         TrustServerCertificate = False;
         ApplicationIntent = ReadWrite;
         MultiSubnetFailover = False"/>
  </connectionStrings>
</configuration>